.menu-item{
    background-image: url('https://lh6.googleusercontent.com/-vOPvINxDIkI/VAiWAFYBcgI/AAAAAAAAAUg/7ZVqgtR_xKU/s800/menu_sprite_white.png');
}
#page-cover>div.socials>div>a>div.icon{
    background: url('https://lh6.googleusercontent.com/-eZS_REkKAak/VAiWOk4nRoI/AAAAAAAAAVo/QIZDLdw8C7c/s800/social_sprite_white.png') no-repeat;
}
.menu-item-block>p{
    color: #FFFFFF;
}
