.menu-item{
    background-image: url('https://cdn.rawgit.com/Mikael-HSW/image/master/menu_sprite_white.png');
}
#page-cover>div.socials>div>a>div.icon{
    background: url('https://lh3.googleusercontent.com/-2-aOc0ce3zg/VAiWMBuqVXI/AAAAAAAAAVY/hpOdUn3MEk0/s800/social_sprite.png') no-repeat;
}
.menu-item-block>p{
    color: #FFFFFF;
}
